* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: none;
  border: none;
}

.modules-left,
.modules-center,
.modules-right {
  border-radius: 5px;
  margin: 5px;
  border: 2px solid @text;
  background-color: @base;
}

.module {
  padding: 0 10px;
  color: @text;
}

#battery {
  background-color: @base;
  color: @text;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 1.0s;
  animation-timing-function: steps(48);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: @red;
  animation-name: blink;
  animation-duration: 0.25s;
  animation-timing-function: steps(16);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @base;
    color: @text;
  }
}

#custom-notification {
  color: @text;
}

#expand {
  color: @text;
}

#expand>*:not(last-child) {
  margin-right: 10px;
}

#clock {}


#power-profiles-daemon.power-saver {
  color: @green;
}

#power-profiles-daemon.performance {
  color: @maroon;
  background-color: @base;
}

#power-profiles-daemon.balanced {
  background-color: @base;
  color: @mauve;
}

window#waybar.empty .modules-center {
  opacity: 0;
}

#workspaces {
  padding: 0;
}

#workspaces button {
  border-radius: 0;
  padding: 0 5px;
  margin: 0;
  color: @text;
}

#workspaces button.empty {
  color: @overlay1;
}

#workspaces button.visible {
  background-color: @overlay0;
  color: @base;
  font-weight: bold;
}

#workspaces button.active {
  background-color: @text;
  color: @base;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: @red;
  font-weight: bold;
  animation-name: blink;
  animation-duration: 1.0s;
  animation-timing-function: steps(48);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.pavu-muted {
  color: @surface0;
}

.pavu-mic {
  color: @maroon;
}

.pavu-mic-muted {
  color: @red;
}

.pavu-icon {
  margin-right: 3px;
}
